h3{
    text-align:center;
    color:brown;
    font-size: 30px;
}

img{
    height: 100px;
    color: seashell;
}

.id{
    height: 350px;
    width: 400px;
    background-color: white;
    text-align: center;
    margin-left:400px;
    margin-top: 40px;
}

body{
    background-color: aquamarine;
}

.profile{
     width: 100px; height: 100px; 
      background: #007bff; color: #fff; 
      border-radius: 50%; 
      display: flex;
      justify-content: center; 
      align-items: center;
      font-size: 20px; 
      margin-left: 150px;
    
}

.name{
      font-weight: bold;
}

.Admission{
    color: red;
}




