.navbar{
    height:60px;
    background-color: black;
    color:white
    
    
    
}
button{
    background-color: whitesmoke;
    
}
.logo{
    color:red;
    font-size: 20px;
}

a{
    margin-right:190px;
    color: white;
    text-decoration: none;
}

h3{
    text-align: center;
}

