.navigation{
    display: flex;
    background-color:  darkslategrey;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

a{
    margin-right: 100px;
    color: black;
    text-decoration: none;
}

input{
    margin-right:100px;
}

.logo{
    color: red;
    font-size: 20px;
}

p{
    font-weight: bold;
}

body{
    background-color: rgb(141, 133, 148);
    padding: 0;
    margin: 0;
}

button{
    margin-right:100px;
}

