h3{
    text-align: center;
    color: blueviolet;
}

.grid{
   display:grid;
   grid-template-columns: repeat(4,1fr);
   gap: 20px;
   text-align: center;
    margin:10px;
   padding:10px;
   
}

.card{
    background-color: bisque;
    border-radius: 10px;
    border-shadow: 0 4px 6px;
    padding: 15px;
    
}

p{
    font-weight: bold;
}

img{
    height: 100px;
}